/****************************************** VARIABLES ******************************************/
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

/******************************************* MAIN *******************************************/
* { 
    box-sizing: border-box; 
    transition: color .1s ease, background-color 0.2s ease;
    font-family: 'Gabarito', cursive;
}

html { scroll-behavior: smooth; }

body 
{
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e2e2e2;
}

.main-title{
    margin: 20px auto 5px;
    font-size: 2em;
    text-align: center;
}

.by{
    font-size: 1.3em;
    text-align: center;
}

a{
    text-decoration: none;
}

.gallery-heading a{
    color: black;
}

.by a, .sample-source a, p a, .image-section a:not(.gallery-heading a), .video-section a:not(.gallery-heading a), .media-section a:not(.gallery-heading a){
    color: #616336;
}

a:not(.gallery-heading a):hover{
    text-decoration: underline;
    text-underline-offset: 3px;
}

.sample-source{
    text-align: center;
    font-size: 1.2em;
    margin-block: 5px;
}

.ko-fi-redirect{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}
.ko-fi-redirect img{
    height: 40px;
    filter: drop-shadow(1px 4px 2px black);
}

/* GALLERIES */
.gallery-heading{
    font-size: 1.8em;
    margin: 5px 5px 10px 5px;
}

.image-section, .video-section, .media-section{
    width: 95%;
    height: auto;
    background-color: #fbfbfb;
    padding: 20px;
    border-radius: 8px;
    margin: 10px auto;
}

.image-gallery{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 columns per row */
    gap: 5px;
    transition: .2s;
}

.video-gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 2 columns per row */
    gap: 5px;
    transition: .2s;
}

.thumbnail-box.gallery-images img, .thumbnail-box.gallery-videos video{
    display: block;
    position: relative;
    background-color: black ;
    transition: .5s ease;
    max-height: auto;
    width: 100%;
    transition: .2s;
}

#btn-open-media-lightbox{
    transition: .2s;
    padding: 8px 10px;
    border-radius: 5px;
    border: solid 2px black;
    outline: none;
    font-weight: 600;
    font-size: .9em;
    letter-spacing: 1px;
}

#btn-open-media-lightbox:hover{
    border: solid 2px black;
    background-color: black;
    color: white;
    cursor: pointer;
}
.width{
    font-weight: 1000;
    border-radius: 300px;
    width: 45vw;
    border: transparent;
    color: #6F6F6F;
    background-color: #141414;
position: relative;
z-index: 0 !important;
justify-content: right;
font-size: 0.9rem;
line-height: 1.5rem;
}
.mesa{
    /*background-image: url('images/mesa.png');
background-size: cover; 
background-position: center; 
background-repeat: no-repeat;*/
  }


  .Flstudio{
   margin-left:1.5rem;
   margin-right: 1.5rem;

  }
  .LogicX{
    /*background-image: url('images/logic-pro-x-2015-04-14.avif');
background-size: cover; 
background-position: center; 
background-repeat: no-repeat;*/
  }
  .imgfl{
    width: 10vw;
    filter: saturate(100%) brightness(1);
    overflow: hidden;
  }
  .imglogic{
    width: 10vw;
    filter: saturate(100%) brightness(1);
    overflow: hidden;
  }
  .imgmesa{
    width: 10vw;
    filter: saturate(100%) brightness(1);
    overflow: hidden;
  }
  .contacto{
  padding-top: 1.7%;
    padding-bottom: 1.7%;
      font-size:100% !important;
}

.iconosintro{
    filter: saturate(0%) brightness(1) contrast(300%);
    padding-bottom: 10vh;
    line-height: 1em;

}
    .canciones1{
    flex-direction: row !important;
}
.canciones2{
    flex-direction: row !important;
}
.canciones3{
    flex-direction: row !important;
}
.canciones4{
    flex-direction: row !important;
}
.canciones5{
    flex-direction: row !important;
}
.carousel-control-next-icon{
    height: 35px !important;
    width: 35px !important;
}
.carousel-control-prev-icon{
    height: 35px !important;
    width: 35px !important;
}

@media screen and (max-width: 1080px){
    .contacto{
  /*padding-top: 1.2% !important;
    padding-bottom: 2.2% !important;*/
        font-size:90% !important;
}
.iconosintro{
    filter: saturate(0%) brightness(1) contrast(300%);
    padding-top: 40vh;
}
    .canciones1{
    flex-direction: row !important;
}
.canciones2{
    flex-direction: row !important;
}
.canciones3{
    flex-direction: row !important;
}
.canciones4{
    flex-direction: row !important;
}
.canciones5{
    flex-direction: row !important;
}
    .carousel-control-next-icon{
    height: 35px !important;
    width: 35px !important;
}
.carousel-control-prev-icon{
    height: 35px !important;
    width: 35px !important;
}
}
/*Tablet*/
@media screen and (max-width: 768px){
    .image-gallery{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 columns per row */
        gap: 5px;
    }
    
    .video-gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columns per row */
        gap: 5px;
    }
    .width{
        font-size: 0.6rem !important;
    }
    .imgfl{
    width: 14vw;
    filter: saturate(100%) brightness(1);
    overflow: hidden;
  }
  .imglogic{
    width: 14vw;
    filter: saturate(100%) brightness(1);
    overflow: hidden;
  }
  .imgmesa{
    width: 14vw;
    filter: saturate(100%) brightness(1);
    overflow: hidden;
  }
  .Flstudio{
   margin-left:1rem;
   margin-right: 1rem;

  }
  .contacto{
  /*padding-top: 2.3% !important;
    padding-bottom: 2.3% !important;*/
      font-size:80% !important;
}
.iconosintro{
    filter: saturate(0%) brightness(1) contrast(300%);
    padding-top: 40vh;
}
.canciones1{
    flex-direction: column !important;
}
.canciones2{
    flex-direction: column !important;
}
.canciones3{
    flex-direction: column !important;
}
.canciones4{
    flex-direction: column !important;
}
.canciones5{
    flex-direction: column !important;
}
.carousel-control-next-icon{
    height: 25px !important;
    width: 25px !important;
}
.carousel-control-prev-icon{
    height: 25px !important;
    width: 25px !important;
}
}
    

/*Mobile*/
@media screen and (max-width: 425px){
    .width{
        font-size: 0.4rem !important;
    }
    .imgfl{
    width: 18vw;
    filter: saturate(100%) brightness(1);
    overflow: hidden;
  }
  .imglogic{
    width: 18vw;
    filter: saturate(100%) brightness(1);
    overflow: hidden;
  }
  .imgmesa{
    width: 18vw;
    filter: saturate(100%) brightness(1);
    overflow: hidden;
  }
  .Flstudio{
   margin-left:1rem;
   margin-right: 1rem;

  }
  .contacto{
  /*padding-top: 6.2% !important;
    padding-bottom: 6.2% !important;*/
      font-size:60% !important;
}
    .canciones1{
    flex-direction: column !important;
}
.canciones2{
    flex-direction: column !important;
}
.canciones3{
    flex-direction: column !important;
}
.canciones4{
    flex-direction: column !important;
}
.canciones5{
    flex-direction: column !important;
}
    .carousel-control-next-icon{
    height: 25px !important;
    width: 25px !important;
}
.carousel-control-prev-icon{
    height: 25px !important;
    width: 25px !important;
}
}
